body {
    background-image: url(imgs/SFF_tea-stain-background_plain-square.png);
    background-size: cover;
    line-height: 36px;
}

.boldit {
    font-weight: bold;
}

ul {
    list-style-type: square;
    margin-left: 50px;
}

.bkg {
    height: 100vh;
    background-image: url(imgs/SFF_full-map_for-use-on-tea-stain-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.container img {
    opacity: 1;
}

.container:hover img {
    opacity: .5;
}

.container img:hover {
    opacity: 1;
}

.stamp {
    width: 800px;
    position: fixed;
}

.volcano {
    top: 0;
    right: 0;
    padding-right: 80px;
    padding-top: 40px;
}

.forest {
    top: 0;
    left: 0;
    padding-left: 80px;
    padding-top: 40px;
}

.waterfall {
    bottom: 0;
    left: 0;
    padding-left: 80px;
    padding-bottom: 40px;
}

.castle {
    bottom: 0;
    right: 0;
    padding-right: 80px;
    padding-bottom: 40px;
}


/*POP UP*/


/* hide X to close window */

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.modal-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: auto;
    /*    padding: 0 50px 50px 0;*/
}


/*header*/

.ui-widget-content {
    color: #F8F3EE !important;
    background: rgba(215, 188, 166, 0.95)
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
    background: #D7BCA6 50% 50% repeat-x;
}


/* overall style */

#volcano-modal, #castle-modal, #waterfall-modal, #forest-modal {
    color: #F8F3EE !important;
    background: rgba(0, 0, 0, 0.5);
}

.dialogStyle {
    font-family: Verdana, Arial, sans-serif;
    font-size: 28px;
    box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 60px 200px 0 rgba(0, 0, 0, 0.19);
}

.dialogStyle h1 {
    font-size: 42px;
    line-height: 44px;
}
