body {
    background-image: url(imgs/SFF_tea-stain-background_plain-square.png);
    background-size: cover;
}

.container {
    height: 100vh;
    background-image: url(imgs/SFF_full-map_for-use-on-tea-stain-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.cssclear {
    clear: both;
}

.stamp {
    width: 800px;
}

.forest {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 80px;
    padding-top: 40px;
}

.volcano {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 80px;
    padding-top: 40px;
}

.waterfall {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 80px;
    padding-bottom: 40px;
}

.castle {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 80px;
    padding-bottom: 40px;
}
