.container {
    height: 100vh;
    background-image: url(imgs/SFF_full-map_for-use-on-tea-stain-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.stamps {
    padding: 50px 0 0 150px;
}

.stamp {
    width: 400px;
    float: left;
    padding-right: 20px;
}

.cssclear {
    clear: both;
}
